*, *::before, *::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}
:root {
    --soft-orange:   hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue:  hsl(233, 8%, 79%);
    --dark-grayish-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}
body {
    min-height: 100vh;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}
/*! =======GLOBAL STYLES=========================*/
img {
    min-width: 100%;
}
a {
    text-decoration: none;
}
.container {
    max-width: 90rem;
    width: 90%;
    margin: 0 auto;
}
/*! =======HEADER STYLES=========================*/
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
}
.icons {
    font-size: 42px;
    cursor: pointer;
    user-select: none;
    display: none;
}
.nav_list {
    display: flex;
    align-items: center;
}
.list_item + .list_item {
    margin-left: 10px;
}
.list_item_link {
    padding: 5px 10px;
    color: var(--dark-grayish-blue);
    transition: .3s;
}
.list_item_link:hover,
.list_item_link:focus {
    background-color: var(--very-dark-blue);
    color: var(--off-white);
}
@media (max-width: 40rem) {
    header {
        position: relative;
    }
    .menu_icon {
        display: block;
    }
    .close_icon.show,
    .menu_icon.show {
        display: block;
    }
    .close_icon.hide,
    .menu_icon.hide {
        display: none;
    }
    .nav_list {
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--very-dark-blue);
        flex-direction: column;
        width: 50%;
        padding-block: 20px;
    }
    .list_item + .list_item {
        margin-top: 20px;
        margin-left: 0;
    }
    .list_item_link {
        color: var(--grayish-blue);
    }
    .list_item_link:hover,
    .list_item_link:focus {
    background-color: var(--off-white);
    color: var(--very-dark-blue);
}
}














/*! =======GLOBAL STYLES=========================*/
/*! =======GLOBAL STYLES=========================*/
/*! =======GLOBAL STYLES=========================*/
/*! =======GLOBAL STYLES=========================*/
/*! =======GLOBAL STYLES=========================*/